:root {
    --blue: #0066FF;
    --black: #000000;
    --yellow: #F9ED32;
    --white: #ffffff;
    --gray: #9CA0AC;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-width: 375px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover, a:visited, a:active {
    color: var(--black);
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.header {
    padding: 10px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 154px;
    font-size: 1.125rem;
    font-weight: 900;
}

.header__list {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.header__link {
    transition: 0.5s all;
}

.header__link:hover {
    color: var(--blue);
}

.header__button {
    height: 100%;
}

.header__login {
    padding: 0;
    padding-right: 20px;
    background-color: transparent;
    border: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--black);
    transition: 0.5s all;
    cursor: pointer;
}

.header__login:hover {
    color: var(--blue);
}

.header__trial {
    background-color: var(--blue);
    padding: 16px;
    font-size: 0.9375rem;
    font-weight: 600;
    color: white;
    border: 1px solid var(--blue);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s all;
}

.header__trial:hover {
    background-color: transparent;
    color: var(--blue);
}

.main-screen {
    background: linear-gradient(180deg, rgba(214, 218, 228, 0) 0%, rgba(214, 218, 228, 0.2) 100%);
    padding: 50px 0;
}

.welcome-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.welcome {
    max-width: 700px;
}

.welcome__title {
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.welcome__title span {
    background-color: var(--yellow);
}

.welcome__text {
    font-size: 1.125rem;
    margin-bottom: 50px;
    max-width: 580px;
}

.subscribe {
    display: inline-block;
    margin-bottom: 20px;
    border: 3px solid var(--blue);
    border-radius: 5px;
    font-size: 0;
}

.subscribe__input {
    border: 0;
    background-color: var(--white);
    padding: 15px 13px;
    width: 250px;
    font-size: 0.9375rem;
}

.subscribe__input:focus-visible {
    outline: none;
}

.subscribe__button {
    margin: 0;
    border: 0;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 600;
    font-size: 0.9375rem;
    padding: 15px 39px 15px 16px;
    cursor: pointer;
    transition: 0.3s all;
}

.subscribe__button:hover {
    background-color: transparent;
    color: var(--blue);
}

.welcome__list {
    display: flex;
}

.welcome__item:not(:first-child) {
    list-style-type: disc;
    margin-left: 25px;
}

.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.partners p {
    font-size: 0.975rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--gray);
}

.partners__logo {
    margin-top: 20px;
    max-width: 830px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.double {
    padding: 9.3rem 0;
}

.double-title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.double-title__item {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.4;
}

.double-title__item span {
    background-color: var(--yellow);
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    columns: 3;
    column-gap: 1.25rem;
    margin-bottom: 6.25rem;
}

.features__wrapper {
    background-color: #EEF1F7;
    padding: 1.25rem;
    border-radius: 10px;
    width: 100%;
}

.features__title {
    font-size: 2rem;
    font-weight: 900;
}

.features__subtitle {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 1.875rem 0 0.6rem;
    display: flex;
    align-items: center;
}

.features__subtitle i {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 1rem;
}

.increase {
    background-image: url("/assets/3.svg");
    width: 25px;
    height: 19px;
}

.designers {
    background-image: url("/assets/1.svg");
    width: 25px;
    height: 25px;
}

.save {
    position: relative;
    margin-left: 2.5rem;
}

.save::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -2.5rem;
    margin-top: -12px;
    background-image: url("/assets/2.svg");
    background-size: cover;
    width: 24px;
    height: 24px;
}

.features__text {
    max-width: 370px;
    font-size: 1.125rem;
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author__logo {
    max-width: 91px;
    margin-bottom: 1.25rem;
}

.author__text {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    max-width: 500px;
    text-align: center;
}

.author__item {
    display: flex;
    align-items: center;
}

.author__item__logo {
    max-width: 80px;
}

.author__item__text {
    margin-left: 0.6rem;
    font-size: 1.125rem;
    line-height: 1.5;
}

.author__item__text span {
    font-weight: 700;    
}